<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @studenten_status.status %>
</p>

<%= link_to 'Edit', edit_studenten_status_path(@studenten_status) %> |
<%= link_to 'Back', studenten_statuses_path %>
