<div style="margin:0 auto;">
    <div class="card border-dark mb-3" style="max-width: 100%;margin: 5px;">
      <div class="card-header">Skripten</div>
      <div class="card-body text-dark">

<p>
  <strong>Status:</strong>
  <%= @studenten_status.status %>
</p>

<%= link_to 'Edit', edit_studenten_status_path(@studenten_status) %> |
<%= link_to 'Back', studenten_statuses_path %>

</div>
</div>
</div>
