<div style="">


<div style="float:left;width:20%;">
  <div class="card border-dark mb-3" style="max-width: 100%;margin: 5px;" >
    <div class="card-header">Kunden</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Dark card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>

<div style="float:left;width:60%;">
  <div style="margin:0 auto;">
  </div>
</div>

<div style="float:left;width:20%;">
  <div class="card border-dark mb-3" style="max-width: 100%;margin: 5px;">
    <div class="card-header">Kundenstatus</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Dark card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
<div style="clear:both;"></div>

</div>
