<div style="margin:0 auto;">
    <div class="card border-dark mb-3" style="max-width: 100%;margin: 5px;">
      <div class="card-header">Skripten</div>
      <div class="card-body text-dark">

<p>
  <strong>Name:</strong>
  <%= @antrag_typ.name %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @antrag_typ.beschreibung %>
</p>

<%= link_to 'Edit', edit_antrag_typ_path(@antrag_typ) %> |
<%= link_to 'Back', antrag_typs_path %>
</div>
</div>
</div>
