<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dateien_kategorien.name %>
</p>

<%= link_to 'Edit', edit_dateien_kategorien_path(@dateien_kategorien) %> |
<%= link_to 'Back', dateien_kategoriens_path %>
